
<!doctype html>
<html lang="en">
<head th:replace="/fragments/head"></head>

<body>

    <nav th:replace="/fragments/nav :: nav-front"></nav>
    

    <div class="container-fluid mt-5">
        <div class="row">
            <div th:replace="/fragments/categories"></div>
           <div class="col"></div> 
           <div class="col-8" >
               <h2 class="display-3 mb-5" th:text="${categoryName}"></h2>
               <div class="row">
                   <div class="col-4" th:each="product: ${products}"></div>
                   <p>
                       <img th:src="@{'/media/' + ${product.image}}">
                   </p>
               </div>
           </div>
        </div>
    </div>

    <footer th:replace="/fragments/footer"></footer>
    
</body>
</html>     